In [3]:
import pandas as pd
first_df = pd.read_csv("C:\\Users\\HollyerRuthAnn\\PANDAS\\PYMOLI_DATA.CSV")
print(first_df)

     Purchase ID               SN  Age                 Gender  Item ID  \
0              0          Lisim78   20                   Male      108
1              1      Lisovynya38   40                   Male      143
2              2       Ithergue48   24                   Male       92
3              3    Chamassasya86   24                   Male      100
4              4        Iskosia90   23                   Male      131
5              5          Yalae81   22                   Male       81
6              6        Itheria73   36                   Male      169
7              7      Iskjaskst81   20                   Male      162
8              8        Undjask33   22                   Male       21
9              9      Chanosian48   35  Other / Non-Disclosed      136
10            10        Inguron55   23                   Male       95
11            11     Haisrisuir60   23                   Male      162
12            12     Saelaephos52   21                   Male      116
13            13      Assjaskan73   22                   Male        4
14            14      Saesrideu94   35                   Male      165
15            15        Lisassa64   21                 Female       98
16            16        Lisirra25   20                   Male       40
17            17        Zontibe81   21                   Male      161
18            18        Reunasu60   22                 Female       82
19            19        Chamalo71   30                   Male       89
20            20     Iathenudil29   20                   Male       57
21            21    Phiarithdeu40   20                   Male      168
22            22     Siarithria38   38  Other / Non-Disclosed       24
23            23         Eyrian71   40                   Male      151
24            24          Siala43   30                   Male      141
25            25        Lisirra87   29                   Male      178
26            26       Lirtossa84   11                   Male       71
27            27          Eusri44    7                   Male       96
28            28           Aela59   21                   Male      119
29            29          Tyida79   24                   Male       37
..           ...              ...  ...                    ...      ...
750          750         Iljask75   22                   Male      167
751          751      Lisjaskan36   11                   Male      180
752          752    Mindjasksya61   17                   Male      112
753          753   Frichirranya75   36                   Male      178
754          754  Pheosurllorin41   23                 Female       79
755          755         Raesty92   12                   Male       76
756          756          Ilast79   20                   Male       73
757          757        Eratiel90   18                   Male       57
758          758           Iral74   21                   Male      182
759          759      Tyaelorap29   25                   Male       72
760          760       Aithelis62   21                   Male       44
761          761          Assim27   45                   Male       17
762          762           Asur53   26                   Male      110
763          763     Lassilsala30   21                   Male       85
764          764     Saedaiphos46   18                   Male      113
765          765          Irith83   18                   Male      130
766          766     Aelastirin39   23                   Male       58
767          767          Ilmol66    8                 Female       92
768          768     Assassasta79   38                   Male       92
769          769        Ilosian36   15                   Male      145
770          770       Lirtosia63   34                   Male       12
771          771     Iskossasda43   16                   Male       25
772          772           Asur53   26                   Male      136
773          773           Hala31   21                   Male       19
774          774       Jiskjask80   11                   Male      101
775          775       Aethedru70   21                 Female       60
776          776           Iral74   21                   Male      164
777          777       Yathecal72   20                   Male       67
778          778          Sisur91    7                   Male      101
779          779        Ennrian78   24                   Male       50

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater   1.10
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish   1.70
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana   4.90
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence   4.60
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance   3.40
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
750                   Malice, Legacy of the Queen   3.61
751                                   Stormcaller   3.36
752                                  Worldbreaker   2.60
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence   4.60
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth   1.70
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn   4.60

[780 rows x 7 columns]

In [4]:
#Display the total number of players
print("Total Players  " + str(first_df['SN'].nunique()))

Total Players  576

In [5]:
#Run basic calculations to obtain number of unique items, average price, etc
print(first_df['Item Name'].nunique())
print(' {:.3}'.format(first_df['Price'].mean()))
print(len(first_df))
print("Total price: $" + str(first_df['Price'].sum()))

179
 3.05
780
Total price: $2379.77

In [6]:
#Create a summary data frame to holdthe results
Summary_df = pd.DataFrame ({"Number of Uniquue Items   ":[179],
                           "Average Price    ":["$3.05"],
                           "Number of Purchases    ":[780],
                           "Total Revenue   ":["$2,379.77"]})
Summary_df

,Number of Uniquue Items,Average Price,Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [7]:
#Gender Demographics percentage & count of M,F, non-disclosed players
df_temp = (first_df.drop_duplicates(['SN','Gender']))
count_var = df_temp["Gender"].value_counts()
print(df_temp["Gender"].value_counts())

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [8]:
#Total number of Players - no duplicates
len(df_temp["Gender"])

576

In [9]:
GP = df_temp["Gender"].value_counts()/len(df_temp["Gender"])*100

In [10]:
GP.round(2)

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [11]:
#Purchasing Analysis Gener
a = len(first_df["Gender"])
print(a)
b = len(first_df.loc[first_df["Gender"]=='Female'])
print (b)
c = len(first_df.loc[first_df["Gender"]=='Male'])
print (c)
d = len(first_df.loc[first_df["Gender"]=='Other / Non-Disclosed'])
print (d)

780
113
652
15

In [12]:
import numpy as np
gender_sum = first_df.groupby('Gender').agg({"Purchase ID": len, "Price": [np.mean ,"sum" ]}).round(2)
print(gender_sum)
gender_sum

                      Purchase ID Price
                              len  mean      sum
Gender
Female                        113  3.20   361.94
Male                          652  3.02  1967.64
Other / Non-Disclosed          15  3.35    50.19

                      Purchase ID Price
                              len  mean      sum
Gender
Female                        113  3.20   361.94
Male                          652  3.02  1967.64
Other / Non-Disclosed          15  3.35    50.19

In [13]:
#Purchase analysis by Gender
f = first_df.groupby ("Gender")
g = f ["Price"].mean().round(2)
h = f ["Price"].sum().round(2)
print(g)
print (h)
(h/count_var).round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [14]:
#Age Demographics - create bins
import pandas as pd

data_df = pd.read_csv("C:\\Users\\HollyerRuthAnn\\PANDAS\\PYMOLI_DATA.csv")
maxage = data_df['Age'].max()
age_bins = [0, 10, 15]
while age_bins[len(age_bins)-1] < maxage:
    age_bins.append(age_bins[len(age_bins) - 1] + 5)
age_bins[-1]= 99
print(age_bins)

[0, 10, 15, 20, 25, 30, 35, 40, 99]

In [15]:
#Creat names for bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-45"]

In [16]:
data_df["AGE GROUPS"] = pd.cut(data_df["Age"],age_bins, labels= group_names, right = False)
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AGE GROUPS
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
#Create a group by object based upon Age Groups
Age = data_df.groupby("AGE GROUPS")

In [18]:
import numpy as np
agegroups_sum = data_df.groupby ('AGE GROUPS').agg({"SN":pd.Series.nunique}).round(2)
#to create summary table
print(agegroups_sum /len(df_temp["Gender"]))  #option 1
agegroups_sum  #option 2 in notebook only

                  SN
AGE GROUPS
<10         0.029514
10-14       0.038194
15-19       0.185764
20-24       0.447917
25-29       0.133681
30-34       0.090278
35-39       0.053819
40-45       0.020833

             SN
AGE GROUPS
<10          17
10-14        22
15-19       107
20-24       258
25-29        77
30-34        52
35-39        31
40-45        12

In [19]:
#Find Top Spenders

z = data_df.groupby("SN").sum()
y = data_df.groupby("SN").count()
x = data_df.groupby("SN").mean().round(2)
z_names = pd.DataFrame({ "Total Price": z["Price"],
                         "Count": y["Purchase ID"],
                       "Avg": x["Price"]})
z_names = z_names.sort_values("Total Price", ascending = False).head()
print(z_names)

             Total Price  Count   Avg
SN
Lisosia93          18.96      5  3.79
Idastidru52        15.45      4  3.86
Chamjask73         13.83      3  4.61
Iral74             13.62      4  3.40
Iskadarya95        13.10      3  4.37

In [20]:
TopSpenders_df = pd.DataFrame({ "Total Price":z["Price"],
                             "Purchase Count": y["Purchase ID"],
                             "Average Purchase Price: $": x["Price"].round(2)})
z_names = z_names.sort_values("Total Price", ascending = False).head()
TopSpenders_df.sort_values("Total Price", ascending = False).head()

             Total Price  Purchase Count  Average Purchase Price: $
SN
Lisosia93          18.96               5                       3.79
Idastidru52        15.45               4                       3.86
Chamjask73         13.83               3                       4.61
Iral74             13.62               4                       3.40
Iskadarya95        13.10               3                       4.37

In [29]:
#Most Popular
i = data_df.groupby("Item ID").sum()
j = data_df.groupby("Item ID").mean()
k = data_df.groupby("Item ID").count()
l = data_df.groupby(["Item ID", "Item Name"])

p_names = pd.DataFrame({"Total Price":i["Price"],
                      "Average Price": j["Price"],
                      "Purchase Count": k["Purchase ID"],
                      "Name":l["Item Name"]})


p_names = p_names.sort_values("Purchase Count", ascending = False).head()
print(p_names)

         Total Price  Average Price  Purchase Count  \
Item ID
178            50.76           4.23              12
145            41.22           4.58               9
108            31.77           3.53               9
82             44.10           4.90               9
19              8.16           1.02               8

                                                      Name
Item ID
178      ((178, Oathbreaker, Last Hope of the Breaking ...
145      ((145, Fiery Glass Crusader), [Fiery Glass Cru...
108      ((108, Extraction, Quickblade Of Trembling Han...
82       ((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...
19       ((19, Pursuit, Cudgel of Necromancy), [Pursuit...

In [22]:
p_names = p_names.sort_values("Total Price", ascending = False).head()
print(p_names)

         Total Price  Average Price  Purchase Count  \
Item ID
178            50.76           4.23              12
82             44.10           4.90               9
145            41.22           4.58               9
108            31.77           3.53               9
19              8.16           1.02               8

                                                      Name
Item ID
178      ((178, Oathbreaker, Last Hope of the Breaking ...
82       ((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...
145      ((145, Fiery Glass Crusader), [Fiery Glass Cru...
108      ((108, Extraction, Quickblade Of Trembling Han...
19       ((19, Pursuit, Cudgel of Necromancy), [Pursuit...